/* Estilos generales */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f8f8f8;
    border-bottom: 1px solid #a5bde2;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.desktop-icons {
    display: none;
}

.mobile-menu {
    display: none;
}

.hamburger {
    cursor: pointer;
    font-size: 24px;
}

.dropdown {
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: white;
    border: 1px solid #ddd;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    min-width: 150px; /* Ancho mínimo para el dropdown */
    z-index: 1000; /* Asegura que esté sobre otros elementos */
    right: 0; /* Posiciona el dropdown a la derecha del contenedor */
    margin-top: 5px; /* Espacio entre el botón y el dropdown */
}

.dropdown a {
    padding: 10px 15px; /* Ajuste de padding */
    text-decoration: none;
    color: #333;
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
}

.dropdown a:hover {
    background-color: #f0f0f0;
}

/* Media Queries */

/* Para teléfonos móviles (hasta 480px) */
@media (max-width: 480px) {
    .mobile-menu {
        display: flex;
        position: relative;
    }
    .desktop-icons {
        display: none;
    }
    .dropdown {
        left: -110px; /* Ajusta la posición a la izquierda */
    }
}

/* Para tabletas (481px a 767px) */
@media (min-width: 481px) and (max-width: 767px) {
    .mobile-menu {
        display: flex;
        position: relative;
    }
    .desktop-icons {
        display: none;
    }
}

/* Para pantallas de 768px en adelante */
@media (min-width: 768px) {
    .desktop-icons {
        display: flex;
        gap: 15px;
    }
    .mobile-menu {
        display: none;
    }
}
